/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define l_ALPHA 0
#define l_CODE 1
#define l_L  2
#define l_R  3
#define l_B  4
#define l_G1 5
#define l_G2 6
#define l_HD 7
#define l_HD_CODE 8

&mt {
    tapping-term-ms = <145>;
    quick_tap_ms = <140>;
};

&caps_word {
        continue-list = <UNDERSCORE MINUS BACKSPACE DELETE LEFT RIGHT LS(FSLH) FSLH>;
    };

/{
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <l_L l_R>;
            then-layer = <l_B>;
        };
    };
    
    #include "horizon_layout.dtsi"
    #include "behaviors.dtsi"    
    #include "macros.dtsi"
    #include "combos.dtsi"

    #define AS(keycode) &as LS(keycode) keycode     // Autoshift Macro

        keymap {
            compatible = "zmk,keymap";
            #include "horizon_layers.dtsi"
    };
};