#define MACRO_WAIT 0
#define MACRO_TAP 0
#define MACRO_TAP_Q 0

macros {
    ZMK_MACRO(line_select,
        wait-ms = <MACRO_WAIT>;
        tap-ms = <MACRO_TAP>;
        bindings = < &kp HOME &kp LS(END)>;
    )
    ZMK_MACRO(obs_link,
        wait-ms = <80>;
        tap-ms = <5>;
            bindings = 
            <&kp LC(K)>,
            <&kp LC(V)>,
            <&kp RIGHT>;
    )
// Nav
    ZMK_MACRO(sel_word,
        wait-ms = <MACRO_WAIT>;
        tap-ms = <MACRO_TAP_Q>;
        bindings = < &kp LC(LEFT) &kp LC(LS(RIGHT))>;
    )

    ZMK_MACRO(unstuck, 
        wait-ms = <MACRO_WAIT>;
        tap-ms = <MACRO_TAP_Q>;
        bindings = <&macro_release &kp LSHIFT &kp RSHIFT &kp LCTRL &kp RCTRL &kp LALT &kp RALT &kp LGUI &kp RGUI>;
        )


// Formatting/ whitespace
#define SPACE_MACRO(NAME, KEY)\
        ZMK_MACRO(NAME, \
        wait-ms = <MACRO_WAIT>; \
        tap-ms = <MACRO_TAP_Q>; \
        bindings = < &kp KEY &kp SPACE>;)
    SPACE_MACRO(comma_space, COMMA) 
    SPACE_MACRO(semi_space, LS(COMMA))
    SPACE_MACRO(colon_space, LS(DOT))

    ZMK_MACRO(semi_newline,
        wait-ms = <MACRO_WAIT>;
        tap-ms = <MACRO_TAP_Q>;
        bindings = < &kp LS(COMMA) &kp RET>;
    )

    ZMK_MACRO(dot_space_cap,
        wait-ms = <MACRO_WAIT>;
        tap-ms = <MACRO_TAP_Q>;
        bindings = < &kp DOT &kp SPACE &sk LSHIFT>;
    )
    ZMK_MACRO(dotdotdot,
        wait-ms = <MACRO_WAIT>;
        tap-ms = <MACRO_TAP_Q>;
        bindings = < &kp DOT &kp DOT &kp DOT>;
    )
    // SPACE_MACRO(quest_m, LS(MINUS))
    // SPACE_MACRO(excl_m, LS(N1))

    

// Alphas
    ZMK_MACRO(macro_QU, 
        tap-ms = <MACRO_TAP>; 
        bindings = <&macro_tap &kp Q> 
                , <&macro_release &kp LSHFT> 
                , <&macro_release &kp RSHFT> 
                , <&macro_tap &kp U> ; 
        )
    ZMK_MACRO(macro_QU_cap, 
        tap-ms = <MACRO_TAP>; 
        bindings = <&macro_tap &kp LS(Q)> 
                , <&macro_release &kp LSHFT> 
                , <&macro_release &kp RSHFT> 
                , <&macro_tap &kp U> ; 
        )

// Digraphs

    ZMK_MACRO(macro_Th,
        tap-ms = <MACRO_TAP>;
        bindings = <&macro_tap &kp T>
            , <&macro_release &kp LSHFT>
            , <&macro_release &kp RSHFT>
            , <&macro_tap &kp H>;
        )
    ZMK_MACRO(macro_tion,
        tap-ms = <MACRO_TAP>;
        bindings = <&kp T &kp I &kp O &kp N>;
        )
    ZMK_MACRO(macro_Ch,
        tap-ms = <MACRO_TAP>;
        bindings = <&macro_tap &kp C>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp H>;
        )
    ZMK_MACRO(macro_Wh,
        tap-ms = <MACRO_TAP>;
        bindings = <&macro_tap &kp W>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp H>;
        )
    ZMK_MACRO(macro_Sh,
        tap-ms = <MACRO_TAP>;
        bindings = <&macro_tap &kp S>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp H>;
        )
    ZMK_MACRO(macro_sion,
        tap-ms = <MACRO_TAP>;
        bindings = <&kp S &kp I &kp O &kp N>;
        )
    ZMK_MACRO(macro_Gh,
        tap-ms = <MACRO_TAP>;
        bindings = <&macro_tap &kp G>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp H>;
        )
    ZMK_MACRO(macro_ght,
        tap-ms = <MACRO_TAP>;
        bindings = <&kp G &kp H &kp T>;
        )
    ZMK_MACRO(macro_Ph,
        tap-ms = <MACRO_TAP>;
        bindings = <&macro_tap &kp P>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp H>;
        )

    ZMK_MACRO(macro_Sch,
        tap-ms = <MACRO_TAP>;
        bindings = <&macro_tap &kp S>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp C &kp H>;
        )
    ZMK_MACRO(macro_Tch,
        tap-ms = <MACRO_TAP>;
        bindings = <&macro_tap &kp T>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp C &kp H>;
        )
    ZMK_MACRO(macro_ing,
        tap-ms = <MACRO_TAP>;
        bindings = <&macro_tap &kp I>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp N &kp G>;
        )
};